*.a filter=lfs diff=lfs merge=lfs -text
example/assets/asr/decoder-epoch-12-avg-4-chunk-16-left-128.int8.onnx filter=lfs diff=lfs merge=lfs -text
example/assets/asr/encoder-epoch-12-avg-4-chunk-16-left-128.int8.onnx filter=lfs diff=lfs merge=lfs -text
example/assets/asr/joiner-epoch-12-avg-4-chunk-16-left-128.int8.onnx filter=lfs diff=lfs merge=lfs -text
example/assets/asr/tokens.txt filter=lfs diff=lfs merge=lfs -text
example/assets/test.wav filter=lfs diff=lfs merge=lfs -text
example/assets/asr filter=lfs diff=lfs merge=lfs -text
ios/lib/libsherpa-onnx.a filter=lfs diff=lfs merge=lfs -text
android/src/main/jniLibs/arm64-v8a filter=lfs diff=lfs merge=lfs -text
example/android/app/src/main/jniLibs/arm64-v8a/libcustom_op_library.so filter=lfs diff=lfs merge=lfs -text
example/android/app/src/main/jniLibs/arm64-v8a/libonnxruntime.so filter=lfs diff=lfs merge=lfs -text
example/android/app/src/main/jniLibs/arm64-v8a filter=lfs diff=lfs merge=lfs -text
example/model/decoder-epoch-99-avg-1.int8.with_runtime_opt.ort filter=lfs diff=lfs merge=lfs -text
example/model/encoder-epoch-99-avg-1.int8.onnx filter=lfs diff=lfs merge=lfs -text
example/model/encoder-epoch-99-avg-1.int8.ort filter=lfs diff=lfs merge=lfs -text
example/model/encoder-epoch-99-avg-1.int8.required_operators.with_runtime_opt.config filter=lfs diff=lfs merge=lfs -text
example/model/joiner-epoch-99-avg-1.int8.with_runtime_opt.ort filter=lfs diff=lfs merge=lfs -text
example/model/decoder-epoch-99-avg-1.int8.required_operators.config filter=lfs diff=lfs merge=lfs -text
example/model/encoder-epoch-99-avg-1.int8.required_operators.config filter=lfs diff=lfs merge=lfs -text
example/model/encoder-epoch-99-avg-1.int8.with_runtime_opt.ort filter=lfs diff=lfs merge=lfs -text
example/model/joiner-epoch-99-avg-1.int8.ort filter=lfs diff=lfs merge=lfs -text
example/model/joiner-epoch-99-avg-1.int8.required_operators.with_runtime_opt.config filter=lfs diff=lfs merge=lfs -text
example/model/tokens.txt filter=lfs diff=lfs merge=lfs -text
example/model/decoder-epoch-99-avg-1.int8.required_operators.with_runtime_opt.config filter=lfs diff=lfs merge=lfs -text
example/model/decoder-epoch-99-avg-1.int8.onnx filter=lfs diff=lfs merge=lfs -text
example/model/joiner-epoch-99-avg-1.int8.onnx filter=lfs diff=lfs merge=lfs -text
example/model/joiner-epoch-99-avg-1.int8.required_operators.config filter=lfs diff=lfs merge=lfs -text
example/model/decoder-epoch-99-avg-1.int8.ort filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libc++_shared.so filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libkaldi-native-fbank-core.so filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libsherpa-onnx-jni.so filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a filter=lfs diff=lfs merge=lfs -text
native/lib/ios filter=lfs diff=lfs merge=lfs -text
native/lib/macos/libsherpa-onnx-core.a filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libkaldi-decoder-core.so filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libsherpa-onnx-core.so filter=lfs diff=lfs merge=lfs -text
native/lib/ios/libsherpa-onnx-c-api.a filter=lfs diff=lfs merge=lfs -text
native/lib/macos/libcargs.a filter=lfs diff=lfs merge=lfs -text
native/lib/macos/libkaldi-decoder-core.a filter=lfs diff=lfs merge=lfs -text
native/lib/macos/libkaldi-native-fbank-core.a filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libcargs.so filter=lfs diff=lfs merge=lfs -text
native/lib/ios/libkaldi-native-fbank-core.a filter=lfs diff=lfs merge=lfs -text
native/lib/macos filter=lfs diff=lfs merge=lfs -text
native/lib/android filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libsherpa-onnx-c-api.so filter=lfs diff=lfs merge=lfs -text
native/lib/macos/libsherpa-onnx-c-api.a filter=lfs diff=lfs merge=lfs -text
native/lib/macos/libsherpa-onnx.a filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libsherpa-onnx-kaldifst-core.so filter=lfs diff=lfs merge=lfs -text
native/lib/ios/libsherpa-onnx-core.a filter=lfs diff=lfs merge=lfs -text
native/lib/ios/libsherpa-onnx-fst.a filter=lfs diff=lfs merge=lfs -text
native/lib/ios/libsherpa-onnx-kaldifst-core.a filter=lfs diff=lfs merge=lfs -text
native/lib/macos/libsherpa-onnx-fst.a filter=lfs diff=lfs merge=lfs -text
native/lib/macos/libsherpa-onnx-kaldifst-core.a filter=lfs diff=lfs merge=lfs -text
native/lib/android/arm64-v8a/libsherpa-onnx-fst.so filter=lfs diff=lfs merge=lfs -text
native/lib/ios/libkaldi-decoder-core.a filter=lfs diff=lfs merge=lfs -text
native/lib/windows filter=lfs diff=lfs merge=lfs -text
